<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login - LCC Online Judge</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/jumbotron-narrow.css">
    <link rel="stylesheet" href="/font-awesome.min.css">
</head>
<body>
    <div class="container">

        <!-- Header -->
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation" class="active"><a href="/login">Login</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LCC Online Judge</h3>
        </div>

        <div class="jumbotron">
            <h1>Login</h1>
            <p class="lead">Login with</p>

            <!-- Google authentication -->
            <p>
                <a class="btn btn-danger" href="/auth/google"><span class="fa fa-google-plus"></span> Google</a>
            </p>
            
            <p class="lead">Other websites are coming soon!</p>

        </div>

    </div>

    <!-- Scripts -->
    <!-- jQuery -->
    <script src="/jquery-3.1.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>