<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile - LCC Online Judge</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <!-- Header -->
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/profile">Profile</a></li>
                    <li role="presentation"><a href="/users">Users</a></li>
                    <li role="presentation"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LCC Online Judge</h3>
        </div>

        <div class="jumbotron">
            <h1 class="text-center">Profile Page</h1>
            <hr>
            <div class="row">
                
                <!-- Google info -->
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="text-center">Google</h3>
                        </div>
                        <div class="panel-body">

                            <!-- Info -->
                            <p style="word-wrap: break-word; font-size: 16px;">
                                <strong>id</strong>: <%= user.google.id %><br>
                                <strong>token</strong>: <%= user.google.token %><br>
                                <strong>email</strong>: <%= user.google.email %><br>
                                <strong>name</strong>: <%= user.google.name %><br>
                            </p>

                        </div>
                    </div>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <!-- jQuery -->
    <script src="/jquery-3.1.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- Socket.io -->
    <script src="http://localhost:8081/socket.io/socket.io.js"></script>
    <script src="/js/socket.io/index.js"></script>
</body>
</html>