<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings - LCC Online Judge</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- X-editable -->
    <link rel="stylesheet" href="/bootstrap-editable/css/bootstrap-editable.css">
    <!-- Global custom styles -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">

        <!-- Header -->
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/settings">Settings</a></li>
                    <li role="presentation"><a href="/users">Users</a></li>
                    <li role="presentation"><a href="/problems">Problems</a></li>
                    <li role="presentation"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LCC Online Judge</h3>
        </div>

        <div class="jumbotron">
            <h1 class="text-center">Settings</h1>
            <hr>
            <div class="row">
                
                <!-- Google info -->
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="pull-left">Account Settings</h3>
                            <div class="text-right"><button id="account-settings-edit-button" class="btn btn-success">Edit</button></div>
                            
                        </div>
                        <div class="panel-body">

                            <!-- Display -->
                            <div id="account-settings-display">
                            <!-- Info -->
                            <p style="word-wrap: break-word; font-size: 16px;">
                                <strong>email</strong>: <%= user.google.email %><br>
                                <strong>name</strong>: <a href="#" id="name" data-pk="1" data-url="/changeSettings" data-title="Enter your name"><%= user.google.name %></a><br>
                            </p>
                            </div>

                        </div>
                    </div>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <!-- jQuery -->
    <script src="/jquery-3.1.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- X-editable -->
    <script src="/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <!-- Socket.io -->
    <script src="http://localhost:8081/socket.io/socket.io.js"></script>
    <script src="/js/socket.io/index.js"></script>
    <!-- Custom script -->
    <script src="/js/settings.js"></script>
</body>
</html>