<!DOCTYPE html>
<html lang="en">

<head>
    <title>Problems - LCC Online Judge</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Global custom styles -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container">

        <!-- Header -->
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/profile?username=<%= user.grader.username %>">My Profile</a></li>
                    <li role="presentation"><a href="/settings">Settings</a></li>
                    <li role="presentation"><a href="/users">Users</a></li>
                    <li role="presentation" class="active"><a href="/problems">Problems</a></li>
                    <li role="presentation"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">LCC Online Judge</h3>
        </div>

        <!-- Content -->
        <div class="jumbotron">
            <h1 class="text-center">Problems</h1>
            <hr>
            <div class="row">

                <!-- List of problems -->
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="text-center">All Problems</h3>
                        </div>
                        <div class="panel-body">

                            <!-- Problem table wrapper -->
                            <div id="problems-table-wrapper">

                                <!-- Search box -->
                                <div class="row">
                                    <div class="col-sm-offset-9 col-sm-3">
                                        <input class="search form-control" placeholder="Find a problem">
                                    </div>
                                </div>
                                <br>

                                <!-- Problem table -->
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th id="problems-list-thead-name" class="sort noselect" data-sort="name">Name</th>
                                            <th id="problems-list-thead-points" class="sort noselect" data-sort="points">Points</th>
                                            <th id="problems-list-thead-partial" class="sort noselect" data-sort="partial">Partial</th>
                                            <th id="problems-list-thead-languages" class="sort noselect" data-sort="languages">Languages</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list" id="problems-table-tbody">
                                        <tr>
                                            <td class="name link">Loading problems...</td>
                                            <td class="points">Loading problems...</td>
                                            <td class="partial">Loading problems...</td>
                                            <td class="languages">Loading problems...</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Scripts -->
        <!-- jQuery -->
        <script src="/jquery-3.1.0.min.js"></script>
        <!-- Bootstrap -->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <!-- List.js -->
        <script src="/js/list.min.js"></script>
        <!-- Socket.io -->
        <script src="http://localhost:8081/socket.io/socket.io.js"></script>
        <script src="/js/socket.io/index.js"></script>
        <!-- Problem list scripts -->
        <script src="/js/problems.js"></script>
</body>

</html>